[defaults]
inventory = inventory/hosts.ini
roles_path = roles
remote_user = ubuntu
ask_vault_pass = True
private_key_file = ~/bastion_key.pem
host_key_checking = False

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

[ssh_connection]
ssh_args = -o ForwardAgent=yes
StrictHostKeyChecking=no
pipelining = True